<div class="card bg-light mb-3">
    <div class="card-header">{{ model.id ? 'Editar examen' : titulo }}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/exams">Volver</button>
        <!-- formulario crear alumno-->
        <form>
            <!-- Nombre-->
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="model.nombre" />
                <div class="alert alert-danger" *ngIf="error?.nombre">
                    {{error.nombre}}
                </div>
            </div>
            <!-- select asignatura padre -->
            <div class="form-group">
                <label for="asignaturaPadre">Asignatura</label>
                <select (change)="cargarHijos()"
                        [compareWith]="compararAsignatura"
                        [(ngModel)]="model.asignaturaPadre" 
                        name="asignaturaPadre" 
                        id="asignaturaPadre"
                        class="form-control"
                        >
                    <option [ngValue]="undefined"> --- seleccionar una asignatura ---</option>
                    <option *ngFor="let asignatura of asignaturasPadre" 
                            [ngValue]="asignatura">
                            {{asignatura.nombre}}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="error?.asignaturaPadre">
                    {{error.asignaturaPadre}}
                </div>
            </div>
            <!-- select asignatura hija -->
            <div class="form-group">
                <label for="asignaturaHija">Asignatura Hija</label>
                <select [(ngModel)]="model.asignaturaHija" 
                        [compareWith]="compararAsignatura"
                        name="asignaturaHija" 
                        id="asignaturaHija"
                        class="form-control"
                        >
                    <option [ngValue]="undefined"> --- seleccionar una asignatura ---</option>
                    <option *ngFor="let asignatura of asignaturasHija" 
                            [ngValue]="asignatura">
                            {{asignatura.nombre}}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="error?.asignaturaHija">
                    {{error.asignaturaHija}}
                </div>
            </div>
            <!-- boton pregunta -->
            <button (click)="agregarPregunta()"
                    class="btn btn-light btn-lg my-3">
                Agregar Pregunta
            </button>
            <!-- cada pregunta - input -->
            <div class="form-group" *ngFor="let pregunta of model.preguntas; let i = index">
                <div class="row">
                    <!-- indice -->
                    <div class="col-sm-2">
                        <label>Pregunta {{i+1}}:</label>
                    </div>
                    <!-- input pregunta -->
                    <div class="col-sm-10" style="margin-bottom:2%">
                        <input type="text" value="{{pregunta.texto}}" class="form-control" (change)="asignarTexto(pregunta, $event)" >
                    </div>
                     <!-- input opcion_a -->
                     <div class="col-sm-2" style="margin-bottom:2%">
                        <label>Opcion A:</label>
                    </div>
                    <div class="col-sm-10" style="margin-bottom:2%">
                        <input type="text" value="{{pregunta.opcion_a}}" class="form-control" (change)="asignarOpcionA(pregunta, $event)" >
                    </div>
                    <!-- input opcion_b -->
                    <div class="col-sm-2" style="margin-bottom:2%">
                        <label>Opcion B:</label>
                    </div>
                    <div class="col-sm-10" style="margin-bottom:2%">
                        <input type="text" value="{{pregunta.opcion_b}}" class="form-control" (change)="asignarOpcionB(pregunta, $event)" >
                    </div>
                    <!-- input opcion_c -->
                    <div class="col-sm-2" style="margin-bottom:2%">
                        <label>Opcion C:</label>
                    </div>
                    <div class="col-sm-10" style="margin-bottom:2%">
                        <input type="text" value="{{pregunta.opcion_c}}" class="form-control" (change)="asignarOpcionC(pregunta, $event)" >
                    </div>
                    <!-- input opcion_d -->
                    <div class="col-sm-2" style="margin-bottom:2%">
                        <label>Opcion D:</label>
                    </div>
                    <div class="col-sm-10" style="margin-bottom:2%">
                        <input type="text" value="{{pregunta.opcion_d}}" class="form-control" (change)="asignarOpcionD(pregunta, $event)" >
                    </div>
                    <!-- input resp_correcta -->
                    <div class="col-sm-2" style="margin-bottom:2%">
                        <label>Respuesta correcta:</label>
                    </div>
                    <div class="col-sm-10" style="margin-bottom:2%">
                        <input type="text" value="{{pregunta.resp_correcta}}" class="form-control" (change)="asignarRespCorrecta(pregunta, $event)" >
                    </div>
                    <!-- boton eliminar -->
                    <div class="col-sm-1">
                        <button class="btn btn-danger btn-sm"
                                (click)="eliminarPregunta(pregunta)" > Eliminar
                        </button>
                    </div>
                </div>
            </div>
            <!--
            <div class="alert alert-danger" *ngIf="error?.errorPreguntas">
                {{error.errorPreguntas}}
            </div>-->
            <!-- boton crear-->
            <div class="form-group">
                <button type="button" class="btn btn-primary" 
                (click)="model.id ? editar() : crear()" >
                <!-- si el alumno id existe llama a editar, sino a crear -->
                    {{ model.id ? 'Editar' : 'Crear' }}
                </button>
            </div>
        </form>
    </div>
</div>
